<div class="container">

  <h1>A biblioteca Ngx-Viacep!</h1>

  <p>
    Esta é a aplicação de demonstração da biblioteca Ngx-Viacep! A biblioteca foi desenvolvida para permitir integrar o
    serviço oferecido pelo site <a target="_blank" href="https://viacep.com.br/">ViaCep</a> para buscas de endereço pelo
    CEP ou pela UF, Município e Logradouro.
  </p>

  <h2>Demo</h2>

  <p>
    Nesta página há duas demonstrações de uso. Uma é a <a routerLink="busca-cep">Busca por CEP</a> e a outra é a
    <a routerLink="busca-endereco">Busca por Endereço</a>. Acessa aí :)
  </p>

  <h2>Mais busca de CEPs?!</h2>

  <p>
    Sim! Mais uma <span class="font-weight-bold">FABULOSA</span> biblioteca para pesquisa de CEPs :)
  </p>
  <p>
    Quantas vezes não somos surpreendidos no meio da madrugada pela <span class="font-weight-bold">NECESSIDADE</span> de
    ter uma boa e velha busca por CEP em nossas aplicações???
  </p>
  <p>
    Ou quantas vezes você já viu um projeto de <span class="font-weight-bold">MESES</span> ser
    <span class="font-weight-bold">CANCELADO</span> por que não tinha uma história prevendo a necessidade da
    funcionalidade de busca de CEP ser implementada e implantada? É, meu amigo. Você não está sozinho :P
  </p>

  <h2>Por Que?</h2>

  <p class="lined">
    Buscar CEPs é legal e todo mundo gosta
  </p>

  <p>
    A biblioteca surgiu de uma necessidade em um projeto pessoal, e, à medida que foi sendo utilizada por outros
    desenvolvedores, foram sugeridas melhorias e correções que foram (e são) adicionadas quando pertinentes.
  </p>

  <p>
    Atualmente a ideia é ter uma lib atualizada de acordo com a versão do Angular e do serviço ViaCep.
  </p>
</div>
