<div class="min-h-full">
  <nav class="bg-gray-800 md:py-1 py-2">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 justify-center md:justify-start">
        <div class="flex items-center justify-center">
          <div class="flex items-stretch flex-grow space-x-4 justify-center">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="flex items-center text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium" routerLinkActive="bg-gray-900" routerLink="" [routerLinkActiveOptions]="{exact: true}" aria-current="page">Início</a>
            <a href="#" class="flex items-center text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium" routerLinkActive="bg-gray-900" routerLink="busca-cep" aria-current="page">Buscar CEP</a>
            <a href="#" class="flex items-center text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium" routerLinkActive="bg-gray-900" routerLink="busca-endereco" aria-current="page">Buscar Endereço</a>
            <a href="https://github.com/brunoc107/ngx-viacep/fork" target="_blank" class="hidden md:flex items-center text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium">Fork on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>

  <a
    href="https://github.com/brunoc107/ngx-viacep/fork"
    target="_blank"
    class="md:hidden fixed bg-gray-900 hover:bg-gray-800 active:bg-gray-700 text-white md:text-2xl text-xl right-0 bottom-0 md:p-5 p-4 rounded-full mr-5 mb-5"
  >
    Fork on GitHub!
  </a>
</div>
